yc_token       = "{{ yc_token }}"
yc_cloud_id    = "{{ yc_cloud_id }}"
yc_folder_id   = "{{ yc_folder_id }}"

db_password    = "{{ db_password }}"
dns_zone_id    = "{{ dns_zone_id }}"
certificate_id = "{{ certificate_id }}"

datadog_api_key = "{{ dd_api_key }}"
datadog_app_key = "{{ dd_app_key }}"

ssh_public_key = "{{ ssh_public_key }}"
